/* CSS Document */
/*************COLORES*************/
.color_amarillo {
	color: #FFFF00;
}
.color_azul {
	color: #0000FF;
}
.color_azulEspecial {
	color: #00446c;
}
.color_azulClaro {
	color: #0066FF;
}
.color_azulBancomer {
	color: #003173;
}
.color_blanco {
	color: #FFFFFF;
}
.color_dorado {
	color: #FFCC00;
}
.color_doradoOscuro {
	color: #D0910D;
}
.color_gris {
	color: #999999;
}
.color_naranja {
	color: #FF3300;
}
.color_rojo {
	color: #FF0000;
}
.color_rojoQuemado {
	color: #990000;
}
.color_verde {
	color: #006600;
}
/***********************************/
