body {
	margin: 5 0 0 2px;
	behavior: url("csshover3.htc");
}
.detalleOperacion {
	padding: 0 0 0 8px;
}
.tdTabs {
   background-image: url(../imagenes/top_contenido.gif);
	background-repeat: no-repeat;
	padding: 0 0 0 20px;
	height: 41px;
}
.tdTabsIzq {
   background-image: url(../imagenes/left_contenido2.gif);
	background-repeat: no-repeat;
	width: 149px;
	padding: 15 0 0 2px;
}
.tdContenido {
   height: 445px;
	border-left: 1px solid #990000;
	border-right: 1px solid #990000;
	padding: 0 0 0 10px;
}
.tdContenido2 {
	border-top: 1px solid #4DAC48;
	border-bottom: 1px solid #4DAC48;
	padding: 8 0 0 5px;
}

.tdDatos_total {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	padding: 0 0 0 0;
}
.tdTotalesDatos {
	padding: 0 0 0 10px;
	background-color: #4DAC48;
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.tdTotalesDatos_b {
	padding: 0 0 0 10px;
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
}
.tb_mensaje{
	width: 235px;
	height: 40px;
	font-family: tahoma;
	font-size: 11px;
}
.tb_btonVenta{
	width: 50px;
	height: 41px;
	font-family: tahoma;
	font-size: 11px;
}
.tb_215{
	width: 215px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
}
.tb_175{
	width: 175px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
}
.tb_140{
	width: 140px;
	height: 24px;
	font-family: tahoma;
	font-size: 18px;
	font-weight: bold;
}
.tb_140Combo{
	width: 140px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
}
.tb_140fdo{
	width: 140px;
	height: 26px;
	font-family: tahoma;
	font-size: 19px;
	background-color: #F4F4F4;
}
.tb_70{
	width: 70px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
	margin-right: 5px;
}
.tb_50{
	width: 55px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
	margin-right: 5px;
}
.tb_40{
	width: 40px;
	height: 19px;
	font-family: tahoma;
	font-size: 11px;
	margin-right: 3px;
}
.tdExtras{
	background-color: #F4F4F4;
	border: 1px solid #CCCCCC;
	width: 760px;
	height: 32px;
	padding: 0 0 0 8px;
	margin: 2 0 12 0px;
}
.colHead{
	background-image: url(../imagenes/fondoColHead.jpg);
	background-repeat: repeat-x;
	font-family: tahoma;
	font-size: 10px;
	line-height: 12px;
	margin: 8 0 0 0px;
}
.rowLineaBot_dotted {
	height: 25px;
	border-bottom: 1px dotted #CCCCCC;
	font-family: trebuchet ms;
	font-size: 11px;
}
#scrollResultBusq {
	height: 175px;
	overflow: auto;
	margin: 0 0 10 0px;
}
#scrollResultBusq2 {
	height: 130px;
	overflow: auto;
	margin: 0 0 10 0px;
}
.marginBottom{
	margin-bottom: 5px;
}
.header{
	margin-bottom: 8px;
	background-image: url(../imagenes/fondoHeader.jpg);
	background-repeat: repeat-y;
}
.topAvisos460{
	background-image: url(../imagenes/top_avisos_460.jpg);
	text-align: center;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	width: 460px;
	height: 28px;
}
.topAvisos460_2{
	background-image: url(../imagenes/top_avisos_460.jpg);
	text-align: center;
	font-family: tahoma;
	font-size: 23px;
	font-weight: bold;
	color: #990000;
	width: 460px;
	height: 28px;
}
.topAvisos600{
	background-image: url(../imagenes/top_avisos_600.jpg);
	text-align: center;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	width: 600px;
	height: 28px;
}
.topLogin404{
	background-image: url(../imagenes/tab_loginUp.jpg);
	text-align: center;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	width: 404px;
	height: 12px;
}
.topAvisos720{
	background-image: url(../imagenes/top_avisos_720.jpg);
	width: 720px;
	height: 28px;
}
.serviciosLogos{
	background-image: url(../imagenes/fdo_servicios.jpg);
	width: 159px;
	height: 102px;
}
.contenidoAvisos{
	border-left: 1px solid #B9B9B9;
	border-right: 1px solid #B9B9B9;
	background-color: #FFFFFF;
	padding: 5 5 5 5px;
}
.imagenIFE{
	border: 1px solid #CCCCCC;
	padding: 5 5 5 5px;
	height: 500px;
}

/*-----------------------FUENTES------------------------*/

.font9 {
	font-family: tahoma;
	font-size: 9px;
}
.font10 {
	font-family: tahoma;
	font-size: 10px;
}
.font11 {
	font-family: tahoma;
	font-size: 11px;
}
.font11b {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
}
.font11Vde {
	font-family: tahoma;
	font-size: 11px;
	color: #42A73D;
}
.font12b {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
}
.font12b_verde {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #42A73D;
}
.font12_rojo {
	font-family: tahoma;
	font-size: 12px;
	color: #FF0000;
}
.font12_ekt {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
}
.font13 {
	font-family: tahoma;
	font-size: 13px;
}
.font13b {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
}
.font14 {
	font-family: tahoma;
	font-size: 14px;
}
.font14b {
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
}
.font14b_Red {
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
}
.font24b {
	font-family: tahoma;
	font-size: 24px;
	font-weight: bold;
}
.font24b_Red {
	font-family: tahoma;
	font-size: 22px;
	font-weight: bold;
	color: #990000;
}
.font42b_Red {
	font-family: Arial;
	font-size: 42px;
	font-weight: bold;
	color: #990000;
}
.font18b_Beigh {
	font-family: tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #CFC29C;
}
.contenidoLogin {
	border-left: 1px solid #B9B9B9;
	border-right: 1px solid #B9B9B9;
	background-color: #FFFFFF;
	padding: 5 5 5 5px;
	width: 404px;

}

.tb_190_30{
	width: 230px;
	height: 34px;
	font-family: tahoma;
	font-size: 28px;
	font-weight: bold;
}

.CajasTxtReimpresion{
	width: 80%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.ReimpresionEktTA {
	font-family: Arial;
	font-size: 11px;
	font-weight: bolder;
	line-height: normal;
	padding: 0px 10px 0px 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #990000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #990000;
	margin-right: 10px;
	margin-left: 10px;
}

.BodyReimpresion {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #990000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #990000;
}

#scrollVentanaEmergente {
	overflow: auto;
	height: 50px;
}

.EstiloGridBody {
	 font-family: Arial;
	 font-size: 12px;
	 font-weight: bold;
}

.EstiloGridReimpresionHeader {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	background-color: #C0C0C0;
	text-align: center;
}

.EstiloGridReimpresionBody {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	background-color: #EEEEEE;
	text-align: center;
}

.EstiloGridReimpresionSelected {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	background-color: #A0A0A0;
	color: #FFFFFF;
	text-align: center;
}

.EstiloTablasReimpresion {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	border : 0;
}

/*------------- ***** ESTILOS CTRL RESUMEN RECARGAS ***** ------------------*/
.font20{
	font-family: arial;
	font-size: 20px;
	color:#990000;
	font-weight:bold;
}

/*----------------------- ESTILOS RECARGA EXITOSA ------------------------*/

.cajaRecarga{
	width:474px;
	height:226px;
	background-image:url(../imagenes/VentaTA/recExitosa.gif);
}

.font24{
	font-family: arial;
	font-size: 22px;
	color:#990000;
	font-weight:bold;
}

/*-------------- ESTILOS RESUMEN DE RECARGAS  -------------*/
.font20{
	font-family: arial;
	font-size: 20px;
	color:#990000;
	font-weight:bold;
}

.cajaRecarga{
	width:474px;
	height:226px;
	background-image:url(../imagenes/VentaTA/recExitosa.gif);
}
.cajaConfirmaRecarga{
	width:380px;
	height:20px;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:80px 0 0 40px;
}
.tbResumenRecarga
{
	width: 100%;
}
.cajaNumeroRecarga{
	width:390px;
	height:30px;
	font-size:21px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:25px 0 0 50px;
	color:#990000;
	font-weight:bold;
}
.font24{
	font-family: arial;
	font-size: 24px;
	color:#990000;
	font-weight:bold;
}

/*----------------------- ESTILOS RESUMEN DE RECARGAS  ------------------------*/

.cajaResumen{
	width:700px;
	height:506px;
	background-image:url(../imagenes/VentaTA/BGResumen.jpg);
}
.cajaTitRecarga{
	width:700px;
	height:40px;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#990000;
	font-weight:bold;
	margin-top:8px;
	float:left;
}
.cajaTitRecarga2{
	width:700px;
	height:40px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000000;
	font-weight:bold;
	margin-top:0px;
	float:left;
}
.cajaResumenRecargas{
	width:660px;
	height:240px;
	margin:0px 0 0 20px;
	float:left;
}
.cajaMontos{
	width:320px;
	height:50px;
	margin:10px 0 0 0px;
}
.font18bold{
	font-family: arial;
	font-size: 19px;
	font-weight:bold;
}
.font16verde{
	font-family: arial;
	font-size: 16px;
	font-weight:bold;
	color:#106828;
}
.CampoResumen{
	font-family: arial;
	font-size: 20px;
	font-weight:bold;
	border:#000 solid 1px;
	background-color:#E1E1E1;
	width:120px;
	text-align:center;
}
.cajaAceptar{
	width:204px;
	height:50px;
	margin:20px 0 0 0px;
}

.cajaRecargaExitosa{
	width:474px;
	height:226px;
	background-image:url(../imagenes/VentaTA/recExitosa.png);
}

.cajaRecargaNoExitosa{
	width:474px;
	height:226px;
	background-image:url(../imagenes/VentaTA/recNoExitosa.png);
}

.botonCerrarResumen{
	width:32px;
	height:32px;
	margin:20px 0 0 30px;
}

.cajaConfirmaNoRecarga{
	width:380px;
	height:20px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:bold;
	margin:70px 0 10px 60px;
}

.cajaNumeroNoRecarga{
	width:450px;
	height:30px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin:0 0 0 20px;
	color:#0000DD;
	font-weight:bold;
}

.CuerpoMonto td
{
	width:449px;
	height: 160px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #990000;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #990000;
}
.LimitesMonto td
{
	width : 449px;
	height : 5px;
}
.InfoCompra
{
	font: normal bold 14px;
	color: #990000;
	position: absolute;
	top: 30px;
	margin: 0 0 0 150px;
}

.ImgInfo
{
	position: absolute;
	top: 15px;
	margin: 0 0 0 75px;
	float: left;
	height: 48px;
	width: 48px;
	background: url(../imagenes/VentaTA/icon_Info.jpg) no-repeat;
	left: 20px;
}
.InfoMonto
{
	font: normal bold 16px;
	position: absolute;
	top: 70px;
	margin: 0 0 0 50px;
}
.InfoRecarga
{
	font-size: 20px;
	position: absolute;
	top: 110px;
	margin: 0 0 0 50px;
}
.InfoCuadroMonto
{
	font-size: 24px;
	position: absolute;
	top: 100px;
	margin: 0 0 0 130px;
}

.InfoCuadroMonto input
{
	height: 32px;
	font-size: 24px;
}

.InfoMontoInvalido{
	color: #f00;
	font: normal bold 16px;
	position: absolute;
	top: 150px;
	margin: 0 0 0 70px;
	display: none;
}

.InfoBotones{
	position: absolute;
	top: 170px;
	margin: 0 0 0 130px;
}
/*   Estilos para la ventana de validacion de folios   */
.InfoVentanaFolio
{
	font: normal bold 26px;
	color: #990000;
	position: absolute;
	top: 30px;
	margin: 0 0 0 45px;
}
.InfoValidacionFolio
{
	font: normal bold 20px;
	position: absolute;
	top: 70px;
	margin: 10px 0 0 50px;
}
.InfoCuadroFolio
{
	position: absolute;
	top: 100px;
	margin: 10px 0 0 45px;
	height: 50px;
}
.InfoCuadroFolio input
{
	position: absolute;
	height: 30px;
	font-size: 24px;
	width: 100px;
	top: 8px;
	left: 50px;
}
.InfoCuadroFolio img
{
	display: none;
	position: absolute;
	top: 0px;
	left: 330px;
}
.InfoCuadroFolio span
{
	font-size: 20px;
	color: green;
	position: absolute;
	top: 8px;
	left: 180px;
}
.InfoBotonFolio{
	position: absolute;
	top: 170px;
	margin: 0 0 0 80px;
}

.TextoValidar
{
	color: red;
}
.BotonCerrar
{
	position: absolute;
	top: 15px;
	margin: 0 0 0 410px;
}
.DivError
{
	margin: 18% 25% 25% 25%;
}
.InfoValidacionFolioError
{
	text-align: center;
	font: normal bold 20px;
	position: absolute;
	top: 45%;
	margin: 10px 0 0 90px;
}
.InfoBotonFolioError
{
	position: absolute;
	top: 60%;
	margin: 0 0 0 130px;
}
.InfoVentanaFolioError
{
	font: normal bold 26px;
	color: #990000;
	position: absolute;
	margin: 0 0 0 95px;
}