BODY {font-size:8pt; font-family: verdana; margin: 0 0 0 0px; text-align: center}

.tableFill {font-size:8pt; font-family: verdana; text-align: center; background-color: #F0F0D8}
.tableFill2 {font-size:8pt; font-family: verdana; text-align: center; background-color: #F0F0D8; padding: 7 0 6 0pt}
.tableFillb {font-size:8pt; font-family: verdana; text-align: center; background-color: #FFFFFF}
.tableFill2b {font-size:8pt; font-family: verdana; text-align: center; background-color: #FFFFFF; padding: 7 0 6 0pt}
