/* CSS Document */

#menuDeptos {
	position: relative;
}
#menuDeptos #menuDeptosFlota {
	width: 161px;
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 999;
	width: 167px;
	overflow: visible;
}
#menuDeptos .menuDeptosFondo {
	background-image: url(/ElektraFront/imagenes/cabeza08_layerMenuDeptos_fondo.gif);
	background-repeat: repeat-y;
	padding: 0px 0px 0px 3px;
}
