.tablaCombos
{
    width: 1020px;
    }
    
.tablaCabecero
{
    width: 1020px;
    height: 20px;
    }
    
    
.tablaCabecero2
{
    width: 1020px;
    height: 26px;
    }
	
.tActivacionTelefonia{
 width:1000px; 
 border:0;
 /*margin-left:100px;*/
}