BODY 
{
	background-color: #FFFFFF
}
.text12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.text14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.text16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.text11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.text10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.text10b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.text8b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
}
.text7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7px;
	font-weight: normal;
}
.text12b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.text12RedBoldNuevos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A30505;
}
.text11BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.text11BoldAmarillo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFCC00;
}
.text12link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
a.text12link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.text11link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}
a.text11link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}
.text10link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
a.text10link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}
.text12linkBlue {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.text12linkBlue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: underline;
	font-weight: bold;
}
.text10linkBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000066;
}
.text10Green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #339900;
}

.text10linkRed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #A20101;
}

.text10linkGreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #339900;
	text-decoration: underline;
}
a.text10linkBlue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: underline;
	font-weight: bold;
}
.10linkBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.10linkBlanco:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}
.text10Rojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FF0000;
}
.text10Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.15linkRojoChaz {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.text10Gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #464646;
}
.text12UnivBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #000066;
}
a.text12UnivBold:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	color: #000066;
	font-weight: bold;
}
.text12UnivBlanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}
.text16BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.text14BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.text10linkBluen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.text10linkBluen:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: underline;
	font-weight: bold;
}
.text12linkBluec {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000099;
	text-decoration: underline;
}
.text12linkGrisc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.text12linkBluec:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000099;
	text-decoration: underline;
	font-weight: bold;
}
.text22 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #464646;
}
.text10linkBlueN {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.text10linkGris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
a.text10linkGris:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
}
.degrada {
	background-image:  url("imagenes/caracterBack.jpg");
	background-repeat: repeat-x;
}
.text10GrisClaro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #818181;
}
.text09linkBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
.text11linkBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.text11linkBlue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003366;
	text-decoration: underline;
	font-weight: bold;
}
.text13linkBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
}
.text12BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.text13BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}
.text15BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}
.text18BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
.text13RedBoldLinkNuevos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #A30505;
}

.text11BlueBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}

.text11RedLight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}

.text11RedBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
   font-weight: bold;
	color: #FF0000;
}
.text11GreenBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
   font-weight: bold;
	color: #16B32E;
}
.text11YellowBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
   font-weight: bold;
	color: #ACD349;
}

.text11blackLight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;

}

.text10linkBlueLinea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000066;
	text-decoration: underline;
	font-weight: bold;
}
a.text10linkBlueLine:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}
.text12Rojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
}
.geneva10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
}
a.geneva10:Hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: line-through;
	color: #993300;
}
.text11linkBlu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-decoration: underline;
}
a.text11linkBlu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	text-decoration: underline;
}
.text18 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #464646;
}
.text18BcoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	
}

.text16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #464646;
}
.text15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #464646;
}
.text10linkBlueLine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000066;
	text-decoration: underline;
}

.text12BlueBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;9
}

.text14BlueBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
.text14BcoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.text11BlackBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.text11RedBoldLinkPromo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
.text9Gris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #464646;
}
.text10linknegro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
}
a.text10linknegro:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	font-weight: normal;
}
.text10linkGris- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: underline;
}
a.text10linkGris-:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: underline;
}
.text10Upper {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
   text-transform:uppercase;
}
.text9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
}
.text14RojoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.text15RojoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
}
.text16RojoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #990000;
	text-decoration: none;
}
.text12linkRed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}
.rolGerente{
	color: #000033;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	width: 136px;
	height: 23px;
}
a.rolGerente:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000033;
	text-decoration: none;
}
.text11linkGris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
}
a.text11linkGris:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
}
.titFamilia990099 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #0000cc;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia990000 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #990000;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaB08D00 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #B08D00;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia336633 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #336633;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia666699 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #666699;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia164878 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #164878;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia333333 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #333333;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia333399 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #333399;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia990099 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #990099;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia770000 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #770000;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia155959 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #155959;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia990099 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #990099;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia666666 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #666666;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia00BB2C {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #00BB2C;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaFF3300 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #FF3300;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaEA7500 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #EA7500;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia2FB900 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #2FB900;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia003399 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #003399;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia0099AF {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #0099AF;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia006598 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #006598;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaB08D00 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #B08D00;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia009AFC {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #009AFC;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaCA0000 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #CA0000;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia0000CC {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #0000CC;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia588EC5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #A20101;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 764px;
}
.text10RojoBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}
.text10GrisBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #EAEAEA;
}
.titFamilia0033CC {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #0033CC;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia80B909 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #80B909;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaA267C0 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #A267C0;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamilia3A7300 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #3A7300;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.titFamiliaDE371F {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 38px;
	color: #DE371F;
	font-weight: bold;
	background-image: url(../imagenes/backMuebles1.gif);
	background-repeat: repeat-x;
	padding: 0px 0px 7px 7px;
	text-transform: capitalize;
	width: 615px;
}
.text10RojoDescuento {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #990000;
}
.tomatazo {
	background-image: url(../imagenes/tomatazoResumen.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
}
.text11linkNegro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.text11linkNegro:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
.text11linkNegroL {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}
a.text11linkNegroL:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}
.text14BlueLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	text-decoration: underline;
}
a.text14BlueLink:hover {
	color: #003366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.text10linkAgua {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #007EA8;
}
a.text10linkAgua:hover {
	color: #000099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.text14BlueBoldCenter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
	text-align: center;
}

.titNoSurt {
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	margin: 0 0 0 12px; 
	color:#003399; 
	width:740px; 
	text-align:center;
}

.articuloBuscado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
.text10BoldBlanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.text14RedBoldNuevos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #A30505;
}


.comboBuscarForma {
	FONT-SIZE: 10px; WIDTH: 130px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}

.PromocionePostCotizador
{
	width:100%;
	height:20px;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	background:url(/Elektrafront/imagenes/BarraPromociones.gif) 10%/*{bgHoverXPos}*/ 10%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
}

#PromocionePostCotizador
{
	width:100%;
	height:20px;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	background:url(/Elektrafront/imagenes/BarraPromociones.gif) 10%/*{bgHoverXPos}*/ 10%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
}

#esquina1
{
	width:12px;
	background:url(/Elektrafront/imagenes/backPromo1.gif);
}

#celdaIzq
{
	width:22px;
	height:20px;
	background:url(/Elektrafront/imagenes/esqIzqTotal2.gif);
}

#celdaDer
{
	width:25px;
	height:20px;
	background:url(/Elektrafront/imagenes/esqDerTotal2.gif);
}

.text12bpc
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align:center;
	border-width: thin;
}

.text12bpc2
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	border-width: thin;
}

.text12RedBoldpc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A30505;
	text-align:right;
	border-width: thin;
}

.text12RedBoldpc2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A30505;
	text-align:left;
	border-width: thin;
}

.text10bpc {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:right;
	border-width: thin;
}
.text10bpc2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:left;
	border-width: thin;
}

#tablaTotal
{
border-width: thin;
text-align:right;
}

tablaContenidoTotal
{
text-align:right;
}