@charset "utf-8";
/* CSS Document */
#ToolTip img,
#Tutorial img {
	margin: 2px 8px;
}	
#ToolTip h6,
#Tutorial h6{
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0px 5px 0px;
	color:#333333;
}
#ToolTip p,
#Tutorial p{
	margin: 0px 0px 10px 0px;
	line-height: 1.3em;
}
#ToolTip,
#Tutorial {
	margin-right:10px;
}
.barraRegresar {
margin:0px 15px 0px 0px;
background-color: #f6f6f6;
border-top: solid 1px #EFEFEF;
border-bottom: solid 1px #EFEFEF;
font-size:10px;
text-align: right;
padding:5px;
}
#ToolTip iframe,
#Tutorial iframe {
	width: 800px;
	height: 500px;
}
